#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

:root, html, body {
  --bg: rgb(16, 20, 24);
  --panel-bg: rgb(21, 27, 37);
  --green: rgb(92, 193, 106);
  --faded-green: rgba(92, 193, 106, 0.1);
  --orange: rgb(239, 150, 79);
  --faded-orange: rgba(239, 150, 79, 0.1);
  --grey: rgb(157, 163, 174);
  --faded-grey: rgba(157, 163, 174, 0.1);
  --red: rgb(233, 121, 117);
  --faded-red: rgb(233, 121, 117, 0.1);
  --blue: rgb(110, 165, 244);
  --faded-blue: rgba(110, 165, 244, 0.1);
  --border: rgb(40, 47, 63);
  --faded-border: rgba(40, 47, 63, 0.5);
  --text: white;
  --faded-text: rgba(255, 255, 255, 0.5);

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1, h2, h3, h4, p, a {
  margin: 0px;
  padding: 0px;
}

.panel {
  padding: 10px;
  background-color: var(--panel-bg);
  border: 1px solid var(--border);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  justify-content: space-between;
}

progress {
  width: 100%;
  height: 13px;
  border-radius: 10px;
  overflow: hidden;
  appearance: none;
  border: 1px solid var(--border);
}

progress::-webkit-progress-bar {
  background: var(--bg);
}

progress::-webkit-progress-value {
  background: var(--green);
  border-radius: 10px;
  border: 1px solid var(--border);
}

progress::-moz-progress-bar {
  background: var(--green);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--border);
  width: 100%;
  margin: 10px auto;
  margin-bottom: -10px;
}

button {
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background-color: var(--bg);
}

textarea {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background-color: var(--bg);
  font-size: small;
  flex: 1;
}
